<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CodeMad - code yourself into success</title>
    <!-- Page styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/material.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
     <% include header.ejs %>
        <div class="android-content mdl-layout__content">
            <a name="top"></a>
           	<h2><br>"<%= error.status %> Page not found."</h1>
			<!--<pre><%= error.stack %></pre> -->
           </div>
        <% include footer.ejs %>  
        </div>
    </div>
    
    <script src="javascripts/material.min.js"></script>
</body>

</html>