<!doctype html>
<!-- begining of header -->
<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
   <div class="mdl-layout__header-row">
                <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="images/android-logo.png">
          </span>
                <!-- Add spacer, to align navigation to the right in desktop -->
                <div class="android-header-spacer mdl-layout-spacer"></div>
                <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="search-field">
                    </div>
                </div>
                <!-- Navigation -->
                <div class="android-navigation-container">
                    <nav class="android-navigation mdl-navigation">
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Home</a>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/articles">Articles</a>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/practice">Practice</a>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/exam">Exam</a>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/about">About</a>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/contactus">Contact us</a>
                    </nav>
                </div>
                <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="images/android-logo.png">
          </span>
                <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                    <li class="mdl-menu__item">My Profile</li>
                    <li class="mdl-menu__item">Codemad</li>
                    <li disabled class="mdl-menu__item">Settings</li>
                    <li class="mdl-menu__item">Sign out</li>
                </ul>
  </div>
</div>
 <div class="android-drawer mdl-layout__drawer">
            <span class="mdl-layout-title">
          <img class="android-logo-image" src="images/android-logo-white.png">
        </span>
</div>
<!-- end of header -->