<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CodeMad - code yourself into success</title>
    <!-- Page styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/material.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include header.ejs %>
        <div class="android-content mdl-layout__content">
            <a name="top"></a>
            <div class="android-be-together-section ">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--7-col"></div>
     <div class="mdl-cell mdl-cell--3-col">
     <form action="/login" method="post">
        <div class="sample3 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input name="userName" class="mdl-textfield__input" type="text"  id="userName">
            <label class="mdl-textfield__label" for="userName">Username</label>
        </div>

        <div class="sample3 mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password"  name ="password" id="password">
            <label class="mdl-textfield__label" for="password">Password</label>
        </div>
    </div>
     <div class="form-button mdl-cell mdl-cell--2-col">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-button--primary">
                                Login
                            </button>
                             </form>
                            <a onclick='overlay()'>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--colored ">
                                    Signup
                                </button>
                            </a>
                        </div>
                        
                        <div id="overlay">
                            <div class="demo-card-wide mdl-card mdl-shadow--5dp">
                                <div class="mdl-card__title">
                                  <form action="/signup" method="post">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input name="signupUserName" class="mdl-textfield__input" type="text" id="sample3" >
                                            <label class="mdl-textfield__label" for="sample3" >Name</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input name="signupEmail" class="mdl-textfield__input" type="email" id="sample3" >
                                            <label class="mdl-textfield__label" for="sample3" >e-mail id</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input name="signupPsassword" class="mdl-textfield__input" type="password" id="sample3" >
                                            <label class="mdl-textfield__label" for="sample3">Password</label>
                                        </div>
                                   
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-button--primary">
                                Sign up
                            </button>

                                </div>
                            </form>
                                <div class="mdl-card__menu">
                                    <a href="#" onclick="overlay()">
                                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="mdl-typography--text-center">
                <div class="logo-font android-slogan">code yourself into success</div>
                <div class="logo-font android-sub-slogan">welcome to the world of madness</div>
                <div class="logo-font android-create-character">
                    <a href=""><img src="images/andy.png"> Code, Compile and Run!!</a>
                </div>
              <!--   <a href="#screens">
                  <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                      <i class="material-icons">expand_more</i>
                  </button>
              </a> -->
                            </div>
                            <div class="android-screen-section mdl-typography--text-center">
                <a name="screens"></a>
                <div class="mdl-typography--display-1-color-contrast">Supports multilple programming languages</div>
                </div>
               <!--  <div class="android-screens">
                   <div class="android-wear android-screen">
                       <a class="android-image-link" href="">
                           <img class="android-screen-image" src="images/wear-silver-on.png">
                           <img class="android-screen-image" src="images/wear-black-on.png">
                       </a>
                       <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android Wear</a>
                   </div>
                   <div class="android-phone android-screen">
                       <a class="android-image-link" href="">
                           <img class="android-screen-image" src="images/nexus6-on.jpg">
                       </a>
                       <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Phones</a>
                   </div>
                   <div class="android-tablet android-screen">
                       <a class="android-image-link" href="">
                           <img class="android-screen-image" src="images/nexus9-on.jpg">
                       </a>
                       <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Tablets</a>
                   </div>
                   <div class="android-tv android-screen">
                       <a class="android-image-link" href="">
                           <img class="android-screen-image" src="images/tv-on.jpg">
                       </a>
                       <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Android TV</a>
                   </div>
                   <div class="android-auto android-screen">
                       <a class="android-image-link" href="">
                           <img class="android-screen-image" src="images/auto-on.jpg">
                       </a>
                       <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left" href="">Coming Soon: Android Auto</a>
                   </div>
               </div>
                           </div>
                           <div class="android-wear-section">
               <div class="android-wear-band">
                   <div class="android-wear-band-text">
                       <div class="mdl-typography--display-2 mdl-typography--font-thin">The best of Google built in</div>
                       <p class="mdl-typography--headline mdl-typography--font-thin">
                           Android works perfectly with your favourite apps like Google Maps, Calendar and YouTube.
                       </p>
                       <p>
                           <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
                 See what's new in the Play Store&nbsp;<i class="material-icons">chevron_right</i>
               </a>
                       </p>
                   </div>
               </div>
                           </div>
                           <div class="android-customized-section">
               <div class="android-customized-section-text">
                   <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Customised by you, for you</div>
                   <p class="mdl-typography--font-light">
                       Put the stuff that you care about right on your home screen: the latest news, the weather or a stream of your recent photos.
                       <br>
                       <a href="" class="android-link mdl-typography--font-light">Customise your phone</a>
                   </p>
               </div>
               <div class="android-customized-section-image"></div>
                           </div>
                           <div class="android-more-section">
               <div class="android-section-title mdl-typography--display-1-color-contrast">More from Android</div>
               <div class="android-card-container mdl-grid">
                   <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                       <div class="mdl-card__media">
                           <img src="images/more-from-1.png">
                       </div>
                       <div class="mdl-card__title">
                           <h4 class="mdl-card__title-text">Get going on Android</h4>
                       </div>
                       <div class="mdl-card__supporting-text">
                           <span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span>
                       </div>
                       <div class="mdl-card__actions">
                           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                  Make the switch
                  <i class="material-icons">chevron_right</i>
                </a>
                       </div>
                   </div>
                   <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                       <div class="mdl-card__media">
                           <img src="images/more-from-4.png">
                       </div>
                       <div class="mdl-card__title">
                           <h4 class="mdl-card__title-text">Create your own Android character</h4>
                       </div>
                       <div class="mdl-card__supporting-text">
                           <span class="mdl-typography--font-light mdl-typography--subhead">Turn the little green Android mascot into you, your friends, anyone!</span>
                       </div>
                       <div class="mdl-card__actions">
                           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                  androidify.com
                  <i class="material-icons">chevron_right</i>
                </a>
                       </div>
                   </div>
                   <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                       <div class="mdl-card__media">
                           <img src="images/more-from-2.png">
                       </div>
                       <div class="mdl-card__title">
                           <h4 class="mdl-card__title-text">Get a clean customisable home screen</h4>
                       </div>
                       <div class="mdl-card__supporting-text">
                           <span class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</span>
                       </div>
                       <div class="mdl-card__actions">
                           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                  Download now
                  <i class="material-icons">chevron_right</i>
                </a>
                       </div>
                   </div>
                   <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                       <div class="mdl-card__media">
                           <img src="images/more-from-3.png">
                       </div>
                       <div class="mdl-card__title">
                           <h4 class="mdl-card__title-text">Millions to choose from</h4>
                       </div>
                       <div class="mdl-card__supporting-text">
                           <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
                       </div>
                       <div class="mdl-card__actions">
                           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                  Find apps
                  <i class="material-icons">chevron_right</i>
                </a>
                               </div>
                           </div>
                       </div>
                   </div> -->
                    <% include footer.ejs %>
                
            </div>
            <script src="javascripts/material.min.js"></script>
            <script type="text/javascript" src="javascripts/js.js"></script>
</body>
</html>